<dom-module id="cruiser-dashboard">
  <template>
    <style>
      :host {
        background-image: radial-gradient(farthest-corner at 40px 40px, #4F4C48 0,#383532 95%);
        border-style: solid;
        border-color: #413d3a;
        border-width: 8px;
        border-radius: 50%/60%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: calc(45vh * 2.75);
        height: 45vh;
      }
    </style>
  </template>
</dom-module>
